@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-center">Layton Temple Tours</h1>
    <br />
    <img class="" src="~/img/temple.pdf" width="825" />
    <br />
    <br />
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-6">
        <h3>Tour Instructions: </h3>
        <ul>
            <li>Park on Rosewood (west side of temple) and meet at the Visitor Center trailer.</li>
            <li>Dress is casual on weekdays, and Sunday dress on Sundays.</li>
            <li>Wear sturdy shoes.</li>
            <li>Tours in Spanish are available upon request.</li>
        </ul>
    </div>
    <div class="col-3">
        <h4> The guided tour will be on the sidewalks surrounding the temple grounds. </h4>
    </div>
</div>
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Signup">Tour Sign-Up</a>
    </div>
</div>