@{
    ViewData["Title"] = "Signup";
}

@model List<TimeSlots>

<h3>Select tour from the available days and times</h3>

<!-- I built the models hopefully in a way that will allow this page to be built with the buttons labeling the actual day and time like "Monday 8am" and the value can be linked to the TimeSlotId = 1. Hopefully that makes sense. -->