@{
    ViewData["Title"] = "Signup";
}

@model List<TimeSlots>

<h3>Select tour from the available days and times</h3>

<!-- I built the models hopefully in a way that will allow this page to be built with the buttons 
    labeling the actual day and time like "Monday 8am" and the value can be linked to the 
    TimeSlotId = 1. Hopefully that makes sense. -->



<table>
    <thead>
        <tr>
            <td>Available Time Slots</td>
            <td>Select One</td>
        </tr>
    </thead>

    <tbody>
        {
            <tr>
                <td>Monday 8am</td>
                <td>
                    <NavLink class="btn btn-sm btn-warning active" href="/413Project2/Views/Home/Form">Select</NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>