@{
    ViewData["Title"] = "Signup";
}

@model List<TimeSlots>

<h3>Select tour from the available days and times</h3>

<!-- I built the models hopefully in a way that will allow this page to be built with the buttons 
    labeling the actual day and time like "Monday 8am" and the value can be linked to the 
    TimeSlotId = 1. Hopefully that makes sense. -->



<table class="table table-hover table-sm table-striped table-bordered">
    <thead>
        <tr>
            <td>Available Time Slots</td>
            <td>Select One</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>
                    @if (x.TimeSlotAvailable == true)
                {
                    @x.TimeSlotName
                }
                    else
                {
                    @x.TimeSlotId
                }
                </td>
                <td>
                    <button class="btn btn-sm" asp-controller="Home" asp-action="Form">Select</button>
                </td>
            </tr>
        }
    </tbody>
</table>